body{
    font-family: 'Karla', sans-serif;
    margin: 0px;
}
header{
    background-color: #264653;
}
.btn-clr{
    background-color: #E76F51;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.card{
    border: none;
    border-radius: 5px;
    box-shadow: 3px 5px 5px 3px  lightgray;
}
.clr{
    color: white;
}
.blue{
    color: darkblue;
}
span{
    color: #E76F51;
}
.text{
    text-align: center;
}
.size-image{
    width: 230px;
    height: 200px;
}
.faq-image{
    width: 250px;
    height: 220px;
}
.gray-scale{
    filter: grayscale(100%);
}
.hr{
    border: 2px solid #D1D1D1;
}
.ratings{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filled{
    color: #FFC014;
    font-size: 14px;
}
.empty{
    color:#AEAEAE ;
    font-size: 14px;
}
.form-bg{
    background-color: #fceae8;
}
footer{
    display: flex;
    margin-top: 40px;
    background-color: #264653;
    justify-content: center;
    align-items: center;
}
a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}